amqp==2.2.2

celery==4.1.0

coverage==4.4.1
cycler==0.10.0
dj-database-url==0.4.2
Django==2.1.2
django-haystack==2.6.1
django-paypal==0.4.1

django-taggit==0.22.2

gunicorn==19.7.1

itsdangerous==0.24

Markdown==2.6.11

Pillow==5.0.0
psycopg2==2.7.3.2

pysolr==3.7.0
pytz==2017.3

Werkzeug==0.14.1
whitenoise==3.3.1

