{% load staticfiles %}
{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/blog.css" %}" rel="stylesheet">

</head>
<body>
<header id="header">
    <a href="{% url 'blog:post_list' %}">
       <!-- <img src="{% static "img/emerald.svg" %}" alt="GN Logo"/> -->
        <h1 class="heading-xl">Good News</h1>
    </a>
</header>

<div class="container">


<main class="blog-wrapper">
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <h1 class="heading-l"></h1>
             <div class="posts"></div>

                    {% block content %}{% endblock %}

        </div>
    </div>
</main>
<div class="grid-row">
        <div class="column-two-thirds">
            <footer>
                 <p class="copyright"> &#169 2018 Mwai Karimi.<a href="https://twitter.com/openbk"
                                                                  target="_blank">Twitter</a>.
                      <a href="https://github.com/Kmwai" target="_blank">Github</a> </p>
              </footer>
         </div>
</div>
<!--<footer>
    <span>
        2018 - Good News
    </span>
</footer> -->

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>
