{% load staticfiles %}
{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/blog.css" %}" rel="stylesheet">

</head>
<body>
<header id="header">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a class="content" href="{% url 'blog:post_list' %}" title="blog homepage"></a>
            </div>
        </div>
    </div>
</header>

<div class="width-container">
    <main class="main-wrapper" id="main-content" role="main">
        <a href="{% url 'blog:post_list' %}"> <h1 class="heading-xl">The Good News Blog</h1></a>
        <p class="body-l">
            Be down with the one who wears the crown
        </p>
    </main>
</div>

<div class="container">


<main class="blog-wrapper">
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <h1 class="heading-l"></h1>
             <article class="posts"></article>

                    {% block content %}{% endblock %}

        </div>
    <div class="grid-column-one-third">
        <h2 class="bold-medium">Good News Blog</h2>
        <p>Good news blog is about the good news of our Lord and saviour Jesus Christ</p>
    </div>
    </div>



</main>
<div class="grid-row">
        <div class="column-two-thirds">
            <footer>
                 <p class="copyright"> &#169 2018 Mwai Karimi.<a href="https://twitter.com/openbk"
                                                                  target="_blank">Twitter</a>.
                      <a href="https://github.com/Kmwai" target="_blank">Github</a> </p>
              </footer>
         </div>
</div>

<!--<footer>
    <span>
        2018 - Good News
    </span>
</footer> -->

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>
