@font-face {
    font-family: HKGrotesk;
    src: url('../Fonts/HKGrotesk-Medium.woff')format('woff');
}
body {
    font-family: HKGrotesk, sans-serif;
    /*background-color: blue;*/
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
  }

/*- link -*/
a {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
  }

a:link {
    color: blue;
  }

a:hover {
    color: red;
    border-bottom: 1px solid #000;
}

a:visited {
    color: #2E0854;
}
/*-main content-*/
.width-container {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 40.0625em) {
  .width-container {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .width-container {
    margin: 0 auto;
  }
}
.body-l {
     color: #626262;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  margin-top: 0;
  margin-bottom: 20px;
}
.main-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

@media (min-width: 40.0625em) {
  .main-wrapper {
    padding-top: 20px;
      padding-bottom: 10px;
      position: relative;
  }
}

.container {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 40.0625em) {
  .container {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .container {
    margin: 0 auto;
  }
}
.blog-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  display: block;

}
@media (min-width: 40.0625em) {
  .blog-wrapper {
    padding-top: 30px;
  }
}

.grid-row {
  margin: 0 -15px;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.heading-xl {
  color: #0b0c0c;
  font-family: HKGrotesk, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .heading-xl {
      font-size: 48px;
      line-height: 1.04167;
      margin-bottom: 50px;
  }
}

.heading-l {
  color: #0b0c0c;
  font-family: HKGrotesk, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.04167;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .heading-l {
      font-size: 36px;
      line-height: 1.11111;
      margin-bottom: 30px;
  }
}

.grid-column-two-thirds {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 40.0625em) {
  .grid-column-two-thirds {
    width: 66.6666%;
    float: left;
  }
}

.grid-column-one-third{
    float: left;
    width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box;
}
.posts {
  color: #0b0c0c;
  font-family: HKGrotesk, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  margin-top: 0;
  margin-bottom: 15px;

}

@media print {
  .posts {
    color: #000000;
      font-family: HKGrotesk, sans-serif;
  }
}


@media (min-width: 40.0625em) {
  .posts {
    font-size: 16px;
    line-height: 1.25;
      margin-bottom: 20px;
  }
}

@media print {
  .posts {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.fixed {
    position: fixed;
    width: 100%;
}
@media (min-width: 940px) {
    .fixed {position: static}
}



#post-page {
    margin-bottom: 0.3em;
}

#post-page p {
    text-align: justify;
}
@media (min-width: 940px) {
    #post-page {
        margin-bottom: 0.3334em;
    }
}
.button {
    font-family:HKGrotesk, sans-serif;
    -webkit-font-smoothing:antialiased;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00823b;
    box-shadow: 0 2px 0 #003618;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none
}
@media (min-width: 40.0625em){
    .button {
        font-size: 19px;
        line-height: 1;
        margin-bottom: 32px;

    }
}

.button:focus {
    outline:3px solid #ffbf47;
    outline-offset:0
}

.blog-input input[type='text']{
    font-family:HKGrotesk, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    line-height:1.25;
    box-sizing:border-box;
    width:100%;
    height:40px;
    margin-top:0;
    padding:5px;
    border:2px solid #0b0c0c;
    border-radius:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}

.by-line {
    display: block;
    color: #626262;
    line-height: 1.5em;
    /* 24px/16px */
    margin-bottom: 1.5em;
    /* 24px/16px */
    font-size: 16px;
    font-weight: 200;
}
@media (min-width: 940px) {
    .by-line {
        display: block;
        color: #626262;
        line-height: 1.3334em;
         /* 24px/18px */
        margin-bottom: 1.3334em;
        /* 24px/18px */
        font-weight: 200;
    }
}




/* paginator */
.pagination {
    text-align: center;
    margin: 2.666668em;
}

.pagination span {
    background-color: white;
    color: #222;
}

.pagination a:hover {
    color: #007eff;
}

/*footer*/
.copyright {
   color: #bbb;
   font-size: 14px;
}

 .copyright a {
   color: #bbb;
 }

