body { 
    margin:0;
    padding:0;
    font-family: arial, sans-serif;
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

/*#content {
    float:left;
    width:60%;
    padding:0 0 0 30px;
}*/

/*#sidebar {
    float:right;
    width:30%;
    padding:10px;
    background:#fff;
    height:100%;
}*/

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

#content {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    #content {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    #content {
      margin: 0 auto; } }

#content {
  padding-bottom: 30px;
  outline: none; }
  @media (min-width: 769px) {
    #content {
      padding-bottom: 90px; } }

.grid-row {
  margin: 0 -15px; }

main {
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 641px) {
    main {
      font-size: 19px;
      line-height: 1.31579; } }


.column-two-thirds {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-two-thirds {
      float: left;
      width: 66.66667%; } }

.column-one-third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-third,
    .column-one-third {
      float: right;
      width: 33.33333%; } }

.bold-medium {
  font-family: Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2; }
  @media (min-width: 641px) {
    .bold-medium {
      font-size: 24px;
      line-height: 1.25; } }

.form-group {
  float: left;
  width: 100%;
  padding-bottom: 0; }

.form-group {
  margin-top: 10px; }

.form-group {
  margin-top: 0;
  margin-bottom: 0; }

.form-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-group {
  margin-bottom: 15px; }
  @media (min-width: 641px) {
    .form-group {
      margin-bottom: 30px; } }

.form-label,
.form-label-bold {
  display: block;
  color: #0b0c0c;
  padding-bottom: 2px; }

.form-label {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25; }
  @media (min-width: 641px) {
    .form-label {
      font-size: 19px;
      line-height: 1.31579; } }

.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  padding: 5px 4px 4px;
  border: 2px solid #0b0c0c; }
  @media (min-width: 641px) {
    .form-control {
      font-size: 19px;
      line-height: 1.31579; } }
  @media (min-width: 641px) {
    .form-control {
      width: 50%; } }